<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Messages
      </h1>
      <h2 class="subtitle">
        Interact with the community and send a message for others to see!
      </h2>
      <h2 class="subtitle">
        <em>Currently under construction.</em>
      </h2>
    </div>
  </div>
</section>
<section class="messagesPage">

  <a class="button is-large is-info is-outlined is-fullwidth" id="toggleSubmission">Toggle Submission Form</a>
  <br />
  <form id="newMessageForm" style="display: none;">

    <div class="field">
      <label class="label">Message</label>
      <div class="control has-icons-left">
        <textarea class="textarea" name="newMessage"></textarea>
      </div>
      <div id="emptyMessage" style="display:none;">
        <p class="help is-danger">You cannot send an empty message.</p>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>
  <br />
  <div class="columns is-multiline is-4" id="messagesList">
    <% messages.forEach(m => { %>
    <div class="column is-4" id="messageCard-<%= m.messageID %>">
      <div class="card">
        <div class="card-content">
          <p class="title">
            <%= m.message %>
          </p>
          <p class="subtitle">
            <figure class="image is-24x24 is-inline-flex">
              <img class="is-rounded" src="<%= `https://cdn.discordapp.com/avatars/${m.userID}/${m.userAvatar}.png` %>"
                alt="<%= m.userName %>'s avatar">

              <%= m.userName %>
            </figure>
            <br />
            <%= m.submittedOn %>
          </p>
        </div>

        <% if (data && data.id === m.userID) { %>
        <footer class="card-footer">
          <a class="card-footer-item" id="editMessage">Edit</a>
          <a class="card-footer-item" id="deleteMessage">Delete</a>
        </footer>
        <% } else { %>
        <footer class="card-footer"></footer>
        <% } %>

        <form id="editMessageForm">
          <div class="modal" id="editModal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Edit Message</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" name="message"></textarea>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success">Confirm edit</button>
                <button class="button">Cancel</button>
              </footer>
            </div>
          </div>
        </form>

      </div>
    </div>
    <% }); %>
</section>

<style>
  .card {
    height: 100%;
  }

  .title {
    padding-bottom: 3px;
  }

  .img,
  .is-rounded {
    margin-right: 5px;
  }

  /* eventually move to styles file; wont worry about this rn */
  .modal-card-body {
    margin-bottom: 0em !important;
  }
</style>