<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Your Profile
            </h1>
            <h2 class="subtitle">
                Here you can view your profile for your Discord account!
            </h2>
        </div>
    </div>
</section>
<section>

    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img class="is-rounded" src="<%= avatarURL %>" alt="Discord avatar">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">
                        <%= data.username %>#<%= data.discriminator %>
                    </p>
                    <p class="subtitle is-6"><strong>ID: </strong>
                        <%= data.id %>
                    </p>
                </div>
            </div>

            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>

</section>

<section>

    <div class="tabs is-left">
        <ul>
            <li class="tab is-active" onclick="openTab(event, 'Guilds')"><a>Guilds</a></li>
            <li class="tab" onclick="openTab(event, 'Friends')"><a>Friends</a></li>
            <li class="tab"><a>Placeholder #2</a></li>
            <li class="tab"><a>Placeholder #3</a></li>
        </ul>
    </div>

    <div class="container section">
        <div class="content-tab" id="Guilds">

            <% client.guilds.forEach(g => { %>

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-72x72">
                                <img class="is-rounded guild-icon-profile" src="https://cdn.discordapp.com/icons/<%= g.id %>/<%= g.icon%>.png" alt="<%= g.name %>'s guild icon">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                <%= g.name %>
                            </p>
                            <p class="subtitle is-6">
                                <strong>Guild Owner: </strong><%= g.owner.user.tag %> (<%= g.owner.id %>)
                                <br />
                                <strong>Member Count: </strong><%= g.memberCount %>
                                <br />
                                <strong>Channel Count: </strong><%= g.channels.size %>
                                <br />
                                <ul class="profile-bot-manage">
                                    <% if (data.id === client.appInfo.owner.id) { %>
                                        <li><a href="" class="button is-primary">Manage Server</a></li>
                                    <% } else { %>
                                        <li><a class="button is-primary" title="Missing permissions" id="manage-server-disabled" disabled>Manage Server</a></li>
                                    <% } %>
                                    <li><a href="" class="button is-link">Remove Bot</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>



            </div>

            <% }); %>
        </div>
        <div class="content-tab" id="Friends" style="display:none;">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>

</section>
